:root{
  --primary-color: #254E58;
  --dark-color: #384e52;
  --primary-fade-color: #254E58AF;
  --project-tile-color: #254E58cf;
  --secondary-color: #88BDBC;
  --background: #577F8A;
  --tertiary-color: #7CBCCB;
  --text: #C1ECF8;
  --white: #fff;
  --black: #000;
}
html{
  background-color: var(--background);
}
body{
  padding: 0;
  margin: 0;
}
#root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App, .AllProj {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text);
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}
.AllProj{
  height: 0;
}
.nav{
  left: 2%;
  top: 25%;
  position: fixed;
  height: 50%;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 8px 1px var(--primary-color);
  width: 60px;
}
.nav-items{
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .txt{
    left: 120%;
    opacity: 1;
  }
}
.side{
  height: 100%;
  display: flex;
  flex-direction: column;
}
  .nav-items:hover{
    transform: scale(1.5);
  }
  .itm:hover{
    filter: drop-shadow(0px 2px 4px var(--white));
    animation: rotate 0.6s ease-in-out;
  }
.txt{
  position: absolute;
  left: 100%;
  opacity: 0;
  color: var(--text);
  animation: fadeIn 0.3s ease-in-out forwards;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
.home{
  background-color: #254E58;
  background: url('./assets/images/home_background.jpg') no-repeat;
  background-size: cover;
}
  .inner-home{
    width: 100%;
    padding: 10%;
    background-color: var(--primary-fade-color);
  }
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}
  .icon:hover{
    outline: 1px solid white;
    box-shadow: 0 0 4px 2px white;
    color: #fff;
    border-radius: 50%;
    transform: rotate(360deg);
    background-color: #3b5998;
  }
  .twitter:hover{
    background-color: #1DA1F2;
  }
  .linked:hover{
    background-color: #006699;
  }
  .ia:hover{
    transition: all 0.2s ease-out;
    transform: scale(1.3);
  }
.name{
  font-size:4rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 3px var(--secondary-color);
  cursor: pointer;
}
.title{
  font-size:8rem;
  letter-spacing: 0.3em;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 3px var(--tertiary-color);
  cursor: default;
  transition: all 0.5s ease-in-out;
}
  .title:hover{
    color: var(--white);
  }
.r-title{
  font-size:6rem;
  letter-spacing: 0.3em;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 3px var(--tertiary-color);
  cursor: default;
  transition: all 0.5s ease-in-out;
}
  .r-title:hover{
    color: var(--white);
  }
.rotated {
  right: 0;
  position: absolute;
  transform: translate(35%, 0%) rotate(90deg);
}
.round-img{
  width: 100%;
  box-shadow: 0 5px 8px 2px var(--primary-color);
  animation: animate 4s ease-in-out infinite alternate;
}
.service-color{
  color: var(--text);
}
.custom-card{
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
  .custom-card:hover{
    z-index: 2;
    transform: scale(1.05) scaleX(1.1);
    box-shadow: 0 4px 8px 2px var(--white);
    background-color: var(--tertiary-color);
    & .service-color{
      color: var(--primary-color);
    }
  }
.image-container{
  width: 280px;
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}
  .image-container:hover{
    z-index: 3;
    transform: scale(1.2);
  }
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--project-tile-color);
  transition: height 0.3s;
  overflow: hidden;
}
  .image-container:hover .overlay {
    height: 100%;
  }
.overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
  .image-container:hover .overlay-content {
    opacity: 1;
  }
.title_animate{
  animation: jump 0.5s ease-in-out infinite alternate; 
}
.lb{
  color: var(--text);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  background-color: var(--primary-fade-color);
}
input::placeholder, textarea::placeholder{
  color: var(--text);
}
#send{
  font-weight: 700;
  color: var(--text);
  outline:2px solid var(--tertiary-color);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 0% 20px 0% 20px;
}
.btnIcon {
  transition: transform 0.8s ease;
}
.cntct-dtl{
  color: var(--secondary-color);
}
  #send:hover{
    outline: none;
    box-shadow: 0 4px 8px 2px var(--text);
    background-color: var(--primary-color);
    transform: scale(1.1);
    border-radius: 20px 0px 20px 0px;
    & .btnIcon{
      transform: rotate(45deg);
    }
  }
  span:hover{
    color: var(--white);
    transition: all 0.3s ease-out;
  }
#typing-text {
  color: var(--white);
  overflow: hidden;
  border-right: .15em solid var(--text);
  white-space: wrap;
  text-transform: uppercase;
  letter-spacing: .3em;
  animation: cursor-blink 0.2s step-end infinite alternate;
}
.contact_form{
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px 5px var(--primary-color);
}
.head_form{
  color: var(--white);
}
.button{
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  color: var(--text);
  font-weight: 500;
  background-color: transparent;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}
  .button:hover{
    letter-spacing: 5px;
    background-color: var(--dark-color);
    border: none;
    box-shadow: 0 2px 4px 3px var(--secondary-color);
  }
.slide{
    height: 350px;
    opacity: 0.5;
    transform: scale(.7);
    transition: .5s;
}
.slide-active{
    opacity: 1;
    transform: scale(1.1);
}

.shape {
  position: absolute;
  width: 105%;
  height: 110%;
  background: var(--secondary-color);
  animation: animate 10s ease-in-out infinite alternate-reverse;
  /* Add additional styling properties as needed */
}
.projects{
  background-color: transparent;
  width: 0%;
}
.animate_drop{
  animation: drop 3s ease-in-out alternate;
}
.link-btn{
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
  .link-btn:hover{
    color: var(--tertiary-color);
    text-decoration:overline;
  }
@media screen and (max-width: 576px){
  .home{
    background: url('./assets/images/home_background_mobile.jpg') no-repeat;
    background-size: cover;
  }
  .nav{
    top: auto;
    position: fixed;
    bottom: 3%;
    width: 80vw;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  .side{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .title{
    font-size:3rem;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 3px var(--tertiary-color);
  }
  .service-color{
    color: var(--primary-color);
  }
  .custom-card:hover{
    transform: scale(1);
  }
  .shape {
    width: 95%;
    height: 100%;
  }
  #typing-text {
    color: var(--white);
    overflow: hidden;
    white-space: wrap;
    animation:none;
  }
}
@keyframes jump{
  from{
    transform: translateY(0px)
  } to {
    transform: translateY(-25px)
  }
}
@keyframes drop{
  0%{top: -10%}25%{top: 5%}50%{top: 5%}75%{top: 5%}100%{top: -10%}
}
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 70% 60% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/50% 60% 30% 60%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(10%);
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg) ;
  } 25% {
    transform: rotate(-45deg);
  } 50% {
    transform: rotate(45deg);
  } 75% {
    transform: rotate(-45deg);
  } 
}
@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text);
  }
}
/* Background animation */
.animateme {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  bottom: 60px;
  list-style: none;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity:0;
}
.bg-bubbles li:nth-child(1) {
  left: 3%;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--primary-color);
}
.bg-bubbles li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  background:transparent;
  border:4px solid var(--primary-color);
}
.bg-bubbles li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--primary-color);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid var(--primary-color);
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--primary-color);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
.bg-bubbles li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
  border-radius:50em;
}
.bg-bubbles li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  background:transparent;
  border:4px solid var(--primary-color);
}
.bg-bubbles li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  border-radius:50em;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
    opacity:1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
    opacity:0;
  }
}